version: "3.9"

services:
  rabbitmq-enterpriseapp:
    image: rabbitmq:management
    container_name: enterpriseapp-rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: "enterpriseapp"
      RABBITMQ_DEFAULT_PASS: "enterpriseapp"
    networks:
      - enterpriseapp-network

  catalog-api:
    image: tiagopala/enterpriseapp-catalogapi:latest
    container_name: enterpriseapp-catalogapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Catalogo.API/Dockerfile
    ports:
      - "5002:5002"
      - "7002:7002"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5002
    depends_on:
      - enterpriseapp-rabbitmq
      - db
    networks:
      - enterpriseapp-network

  web-mvc:
    image: tiagopala/enterpriseapp-webappmvc:latest
    container_name: enterpriseapp-webappmvc
    build:
      context: ./src
      dockerfile: ./web/EnterpriseApp.WebApp.MVC/Dockerfile
    ports:
      - "5000:5000"
      - "7000:7000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5000
    depends_on:
      - enterpriseapp-catalogapi
      - db
    networks:
      - enterpriseapp-network

networks:
  enterpriseapp-network:
    name: enterpriseapp-network
    driver: bridge