version: "3.9"

services:
  rabbitmq-enterpriseapp:
    image: rabbitmq:3-management
    container_name: enterpriseapp-rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: "enterpriseapp"
      RABBITMQ_DEFAULT_PASS: "enterpriseapp"
    networks:
      - enterpriseapp-network
  
  sql-server:
    image: tiagopala/enterpriseapp-sqlserverdb:latest
    container_name: enterpriseapp-sqlserverdb
    build:
      context: ./sql
      dockerfile: ./Dockerfile
    ports:
      - "1433:1433"
    environment:
      - SA_PASSWORD=MeuDB@123
      - ACCEPT_EULA=Y
    networks:
      - enterpriseapp-network

  web-mvc:
    image: tiagopala/enterpriseapp-webappmvc:latest
    container_name: enterpriseapp-webappmvc
    build:
      context: ./src
      dockerfile: ./web/EnterpriseApp.WebApp.MVC/Dockerfile
    ports:
      - "5000:5000"
      - "7000:7000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5000
    depends_on:
      - sql-server
      - auth-api
      - catalog-api
      - customer-api
      - purchasebff-api
    networks:
      - enterpriseapp-network

  auth-api:
    image: tiagopala/enterpriseapp-authapi:latest
    container_name: enterpriseapp-authapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Identidade.API/Dockerfile
    ports:
      - "5001:5001"
      - "7001:7001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5001
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
    networks:
      - enterpriseapp-network

  catalog-api:
    image: tiagopala/enterpriseapp-catalogapi:latest
    container_name: enterpriseapp-catalogapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Catalogo.API/Dockerfile
    ports:
      - "5002:5002"
      - "7002:7002"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5002
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  customer-api:
    image: tiagopala/enterpriseapp-customerapi:latest
    container_name: enterpriseapp-customerapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Cliente.API/Dockerfile
    ports:
      - "5003:5003"
      - "7003:7003"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5003
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  shoppingcart-api:
    image: tiagopala/enterpriseapp-shoppingcartapi:latest
    container_name: enterpriseapp-shoppingcartapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Carrinho.API/Dockerfile
    ports:
      - "5004:5004"
      - "7004:7004"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5004
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  purchasebff-api:
    image: tiagopala/enterpriseapp-purchasebffapi:latest
    container_name: enterpriseapp-purchasebffapi
    build:
      context: ./src
      dockerfile: ./api gateways/EnterpriseApp.BFF.Compras/Dockerfile
    ports:
      - "5005:5005"
      - "7005:7005"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5005
    depends_on:
      - rabbitmq-enterpriseapp
      - auth-api
      - catalog-api
      - shoppingcart-api
      - order-api
      - payment-api
    networks:
      - enterpriseapp-network

  order-api:
    image: tiagopala/enterpriseapp-orderapi:latest
    container_name: enterpriseapp-orderapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Pedido.API/Dockerfile
    ports:
      - "5006:5006"
      - "7006:7006"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5006
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network
    command: ["/bin/bash", "/wait.sh"]

  payment-api:
    image: tiagopala/enterpriseapp-paymentapi:latest
    container_name: enterpriseapp-paymentapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Pagamento.API/Dockerfile
    ports:
      - "5007:5007"
      - "7007:7007"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5007
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  nginx-server:
    image: tiagopala/enterpriseapp-nginxserver:latest
    container_name: enterpriseapp-server
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web-mvc

networks:
  enterpriseapp-network:
    name: enterpriseapp-network
    driver: bridge