version: "3.9"

services:
  rabbitmq-enterpriseapp:
    image: rabbitmq:3-management
    container_name: enterpriseapp-rabbitmq
    ports:
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "enterpriseapp"
      RABBITMQ_DEFAULT_PASS: "enterpriseapp"
    networks:
      - enterpriseapp-network
  
  sql-server:
    image: tiagopala/enterpriseapp-sqlserverdb:latest
    container_name: enterpriseapp-sqlserverdb
    build:
      context: ./sql
      dockerfile: ./Dockerfile
    environment:
      - SA_PASSWORD=MeuDB@123
      - ACCEPT_EULA=Y
    networks:
      - enterpriseapp-network

  web-mvc:
    image: tiagopala/enterpriseapp-webappmvc:latest
    container_name: enterpriseapp-webappmvc
    build:
      context: ./src
      dockerfile: ./web/EnterpriseApp.WebApp.MVC/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5000
    depends_on:
      - sql-server
      - rabbitmq-enterpriseapp
      - auth-api
      - catalog-api
      - customer-api
      - purchasebff-api
    networks:
      - enterpriseapp-network

  auth-api:
    image: tiagopala/enterpriseapp-authapi:latest
    container_name: enterpriseapp-authapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Identidade.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5001
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
    networks:
      - enterpriseapp-network

  catalog-api:
    image: tiagopala/enterpriseapp-catalogapi:latest
    container_name: enterpriseapp-catalogapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Catalogo.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5002
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  customer-api:
    image: tiagopala/enterpriseapp-customerapi:latest
    container_name: enterpriseapp-customerapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Cliente.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5003
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  shoppingcart-api:
    image: tiagopala/enterpriseapp-shoppingcartapi:latest
    container_name: enterpriseapp-shoppingcartapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Carrinho.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5004
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  purchasebff-api:
    image: tiagopala/enterpriseapp-purchasebffapi:latest
    container_name: enterpriseapp-purchasebffapi
    build:
      context: ./src
      dockerfile: ./api gateways/EnterpriseApp.BFF.Compras/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5005
    depends_on:
      - rabbitmq-enterpriseapp
      - auth-api
      - catalog-api
      - shoppingcart-api
      - order-api
      - payment-api
    networks:
      - enterpriseapp-network

  order-api:
    image: tiagopala/enterpriseapp-orderapi:latest
    container_name: enterpriseapp-orderapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Pedido.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5006
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  payment-api:
    image: tiagopala/enterpriseapp-paymentapi:latest
    container_name: enterpriseapp-paymentapi
    build:
      context: ./src
      dockerfile: ./services/EnterpriseApp.Pagamento.API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://*:5007
    depends_on:
      - rabbitmq-enterpriseapp
      - sql-server
      - auth-api
    networks:
      - enterpriseapp-network

  nginx-server:
    image: tiagopala/enterpriseapp-nginxserver:latest
    container_name: enterpriseapp-server
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web-mvc
    networks:
      - enterpriseapp-network

networks:
  enterpriseapp-network:
    name: enterpriseapp-network
    driver: bridge