@model ErrorViewModel
@{
    ViewData["Title"] = "An error occurred";
}

@{
    if (Model is null)
    {
        <div>
            <h2>Oops! An error occurred.</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;
        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>
    }
}