@model ErrorViewModel
@{
    ViewData["Title"] = "An error occurred";
}

@{
    if (Model is null)
    {
        <div class="text-center">
            <h1 class="display-4-error">Oops! An error occurered.</h1>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;
        <div class="text-center" style="padding-top: 25px;">
            <h1 class="display-4-error">@Html.Raw(Model.Message)</h1>
        </div>
    }
}