@using EnterpriseApp.WebApp.MVC.Extensions
@model EnterpriseApp.WebApp.MVC.Models.OrderTransactionViewModel

@{
    ViewData["Title"] = "Confirm your order";
}

<section class="padding-y">
    <div class="container">

        <vc:Summary></vc:Summary>

        @{
            if (Model.Items.Any())
            {
                <div class="card">
                    <div class="tracking-wrap">
                        <div class="step active">
                            <span class="icon">
                                <i class="fa fa-location-arrow"></i>
                            </span>
                            <span class="text"> Address</span>
                        </div>
                        <div class="step active">
                            <span class="icon">
                                <i class="fa fa-credit-card"></i>
                            </span>
                            <span class="text"> Payment </span>
                        </div>
                        <div class="step">
                            <span class="icon">
                                <i class="fa fa-check-square"></i>
                            </span>
                            <span class="text"> Confirmation</span>
                        </div>
                    </div>
                    <article class="card-body">
                        <header class="mb-4">
                            <h4 class="card-title">Your Order</h4>
                        </header>
                        <div class="row">
                            @{
                                foreach (var item in Model.Items)
                                {
                                    <div class="col-md-6">
                                        <figure class="itemside  mb-3">
                                            <div class="aside">
                                                <img src="~/images/produtos/@item.Image" alt="@item.Name" class="border img-xs">
                                            </div>
                                            <figcaption class="info">
                                                <p>
                                                    <b>@item.Name</b>
                                                </p>
                                                <span>@this.UnitiesPerProductTotalPrice(item.Quantity, item.Price) </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                }
                            }

                        </div>
                    </article>

                    <partial name="_FinancialSummary" model="Model" />

                    <form asp-action="FinishOrder" asp-controller="Orders">
                        <article class="card-body border-top">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="CardName"></label>
                                            <input asp-for="CardName" class="form-control" />
                                            <span asp-validation-for="CardName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="CardNumber"></label>
                                            <div class="input-group">
                                                <input asp-for="CardNumber" class="form-control" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i> &nbsp;
                                                        <i class="fab fa-cc-mastercard"></i>
                                                    </span>
                                                </div>
                                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-sm-12">
                                        <div>
                                            <label asp-for="CardExpirationDate"></label>
                                            <div class="form-inline">
                                                <input style="width: 190px" asp-for="CardExpirationDate" class="form-control" />
                                                <span asp-validation-for="CardExpirationDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div>
                                            <spam data-toggle="tooltip" title="" data-original-title="The 3 digits behind your credit card.">
                                                <label asp-for="CardCvv"></label> <i class="fa fa-question-circle"></i>
                                            </spam>

                                            <div>
                                                <input style="width: 160px" asp-for="CardCvv" class="form-control" />
                                                <span asp-validation-for="CardCvv" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>

                        <div class="card-body border-top">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary float-md-right"> Finish Order <i class="fa fa-chevron-right"></i> </button>
                            </div>

                            <a asp-controller="Orders" asp-action="DeliveryAddress" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Back to Address </a>
                        </div>
                    </form>
                </div>
            }
        }
    </div>
</section>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}